<%= form_with(model: governing) do |form| %>
  <% if governing.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(governing.errors.count, "error") %> prohibited this governing from being saved:</h2>

      <ul>
        <% governing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :expires, style: "display: block" %>
    <%= form.date_field :expires %>
  </div>

  <div>
    <%= form.label :superadmin, style: "display: block" %>
    <%= form.check_box :superadmin %>
  </div>

  <div>
    <%= form.label :customer_id, style: "display: block" %>
    <%= form.number_field :customer_id %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
