<div id="<%= dom_id governing %>">
  <p>
    <strong>Expires:</strong>
    <%= governing.expires %>
  </p>

  <p>
    <strong>Superadmin:</strong>
    <%= governing.superadmin %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= governing.customer_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= governing.user_id %>
  </p>

</div>
