<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= user.phone %>
  </p>

  <p>
    <strong>Document type:</strong>
    <%= user.document_type %>
  </p>

  <p>
    <strong>Document number:</strong>
    <%= user.document_number %>
  </p>

</div>
